### Answer 1

In [14]:
i=2000
mynumbers = []
while i<=3200:
    if i%7==0 and i%5!=0:
        mynumbers.append(i)
        i+=7
    else: i+=1
print(*mynumbers, sep=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Answer 2

In [12]:
numbers = map(int, input("Enter a list of numbers to find their factorials: ").split())
factorials = []
for i in numbers:
    f = 1
    while(i>1):
        f*=i
        i-=1
    factorials.append(f)
print(*factorials, sep=",")

Enter a list of numbers to find their factorials: 2 5
2,120

### Answer 3

In [ ]:
n = int(input("Enter a number to form a dictionary of squares upto range=n: "))
sqrd = {}
for i in range(1,n+1):
    sqrd.update({i:i*i})
print(sqrd)

### Answer 4

In [1]:
mylist = input("Enter comma seperated numbers: ").split(',')
mytuple = tuple(mylist)
print(mylist)
print(mytuple)

Enter comma seperated numbers: 3,4,5
['3', '4', '5']
('3', '4', '5')

### Answer 5

In [10]:
class myclass():
    def __init__(self):
        self.mystring = ""
    def getString(self):
        self.mystring = input("Enter a string: ")
    def printString(self):
        print(self.mystring.upper())
    def callit(self):
        print("I am active!")

s1 = myclass()
s1.callit()
s1.getString()
s1.printString()

I am active!
Enter a string: hi
HI

### Answer 6

In [8]:
import math
values = map(int, input("Enter different values for d seperated by commas: ").split(','))
c=50
h=30
res = []
for d in values:
    q = math.sqrt(((2*c*d)/h))
    res.append(round(q))
print(*res,sep=',')

Enter different values for d seperated by commas: 100,150 , 180
18,22,24

### Answer 7

In [12]:
myrow = int(input("Enter the number of rows: "))
mycol = int(input("Enter the number of columns: "))
mymatrix = []
for r in range(myrow):
    rowval = []
    for c in range(mycol):
        rowval.append(r*c)
    mymatrix.append(rowval)
print(mymatrix)

Enter the number of rows: 3
Enter the number of columns: 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

### Answer 8

In [1]:
words = input("Enter comma seperated strings: ").split(',')
words = sorted(words)
print(*words,sep=',')

Enter comma seperated strings: rakesh, zoo,the sky
 zoo,rakesh,the sky

### Answer 9

In [2]:
myline = input("Enter a line: ")
print(myline.upper())

Enter a line: this is sky
THIS IS SKY

### Answer 10

In [11]:
mywords = input("Enter a line: ").split()
mywords = set(mywords)
mywords = sorted(list(mywords))
print(*mywords, sep=' ')

Enter a line: hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

### Answer 11

In [1]:
mybinaries = input("Enter comma separted binary values: ").split(',')
mybees = []
for x in mybinaries:
    bi = int(x)
    p=0
    dec=0
    temp = bi
    while temp>0:
        rem=temp%10
        dec = dec+(rem*(2**p))
        temp=temp//10
        p+=1
    if dec%5==0:
        mybees.append(bi)
print(*mybees, sep=',')

Enter comma separted binary values: 0100,0011,1010,1001
1010

### Answer 12

In [4]:
myevens=[]
for i in range(1000,3001):
    s=str(i)
    if int(s[0])&1==0 and int(s[1])&1==0 and int(s[2])&1==0 and int(s[3])&1==0:
        myevens.append(i)
    
print(*myevens,sep=',')

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

### Answer 13

In [6]:
mystring = input("Enter a string: ")
letters=0
digits=0
for i in mystring:
    if i.isdigit():digits+=1
    elif i.isalpha():letters+=1
print("Letters",letters)
print("Digits",digits)

Enter a string: rakesh 007 james bond
Letters 15
Digits 3

### Answer 14

In [7]:
mystring = input("Enter a string: ")
l=0
u=0
for i in mystring:
    if i.islower():l+=1
    elif i.isupper():u+=1
print("Upper Case",u)
print("Lower Case",l)

Enter a string: raju Bheem Chutki
Upper Case 2
Lower Case 13

### Answer 16

In [11]:
numbers = map(int, input("Enter numbers seperated by commas: ").split(','))
oddsquares=[]
for n in numbers:
    if n&1:
        oddsquares.append(n*n)
print(*oddsquares,sep=',')

Enter numbers seperated by commas: 1,2,3,4,5,6,7,8,9
1,9,25,49,81

### Answer 17

In [15]:
balance=0
while True:
    trans=input("Enter transaction type(D or W) and amount seperated with spaces: ").split()
    if len(trans)<2: break
    D_W=trans[0]
    amount=int(trans[1])
    if D_W=='D': balance+=amount
    elif D_W=='W':balance-=amount
    else:print("Invalid input for transaction type!")
print(balance)

Enter transaction type(D or W) and amount seperated with spaces: D 300
Enter transaction type(D or W) and amount seperated with spaces: D 400
Enter transaction type(D or W) and amount seperated with spaces: W 400
Enter transaction type(D or W) and amount seperated with spaces:
300

### Answer 18

In [19]:
import re
passwords = input("Enter different passwords to check the validity: ").split(',')
valid_passwords=[]
for i in passwords:
    if 5<len(i)<13:
        if re.search("[a-z]",i) and re.search("[A-Z]",i) and re.search("[$#@]",i) and re.search("[0-9]",i):
            valid_passwords.append(i)
print(*valid_passwords,sep='')

Enter different passwords to check the validity: ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

### Answer 19

In [20]:
res=[]
while True:
    my_data = input("Enter the input in name,age,score format: ")
    if len(my_data)<3: break
    res.append(tuple(my_data.split(',')))
print(sorted(res))

Enter the input in name,age,score format: Tom,19,80
Enter the input in name,age,score format: John,20,90
Enter the input in name,age,score format: Jony,17,91
Enter the input in name,age,score format: Jony,17,93
Enter the input in name,age,score format: Json,21,85
Enter the input in name,age,score format:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

### Answer 20

In [22]:
def divisor_7(n):
    i=7
    mynum=[]
    while i<=n:
        mynum.append(i)
        i+=7
    return mynum
n = int(input("Enter the range until which you want to find multiples of 7: "))
print(divisor_7(n))

Enter the range until which you want to find multiples of 7: 35
[7, 14, 21, 28, 35]

### Answer 21

In [30]:
import math
print("""So lets find the distance of the robot from it's start position.
For that we should need to move the robot:
Enter the values:
where direction = u for Up, d for Down, l for left, r for right
and steps = integer
To stop the robot just enter without giving any input""")
coordinates = {'u':0,'d':0,'l':0,'r':0}
while True:
    direction = input("Enter the direction: ")
    if direction=="": break

    steps = int(input("Enter the steps: "))

    coordinates[direction]+=steps
xcord = abs(coordinates['l']-coordinates['r'])
ycord = abs(coordinates['u']-coordinates['d'])
if xcord==0 or ycord==0: print("Displacement of the robot from the start point is ",xcord+ycord)
else:
    print("Displacement of the robot from the start point is ",round(math.sqrt(xcord*xcord+ycord*ycord)))

So lets find the distance of the robot from it's start position.
For that we should need to move the robot:
Enter the values:
where direction = u for Up, d for Down, l for left, r for right
and steps = integer
To stop the robot just enter without giving any input
Enter the direction: u
Enter the steps: 5
Enter the direction: d
Enter the steps: 3
Enter the direction: l
Enter the steps: 3
Enter the direction: r
Enter the steps: 2
Enter the direction:
Displacement of the robot from the start point is  2

### Answer 22

In [37]:
mytext = input("Enter a line: ").split()
mydict = {}
for i in mytext:
    if i not in mydict.keys():
        mydict.update({i:1})
    else:mydict[i]+=1
mylist = sorted(list(mydict.items()))
for i in mylist:
    print(i[0]+':'+str(i[1]))

Enter a line: New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3
2:2
3:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

### Answer 23

In [38]:
mynum = int(input("Enter a number to be squared: "))
print(mynum*mynum)

Enter a number to be squared: 4
16

### Answer 26

In [40]:
def sum_of_2(a,b):
    return a+b

x = int(input("Enter a number x: "))
y = int(input("Enter a number y: "))
print("Sum of x and y=",sum_of_2(x,y))

Enter a number x: 5
Enter a number y: 6
Sum of x and y= 11

### Answer 27

In [43]:
def convertoString(n):
    n=str(n)
    print(n,type(n))
n = int(input("Enter a number: "))
convertoString(n)

Enter a number: 5
5 <class 'str'>

### Answer 28

In [44]:
def addStringNum(s):
    a,b=s.split()
    print(int(a)+int(b))
s = input("Enter two numbers seperated with spaces: ")
addStringNum(s)

Enter two numbers seperated with spaces: 45 60
105

### Answer 29

In [46]:
def addStrings(s1,s2):
    print(s1+s2)
string1 = input("Enter first string: ")
string2 = input("Enter second string: ")
addStrings(string1,string2)

Enter first string: rcb
Enter second string: csk
rcbcsk

### Answer 30

In [48]:
def compareString(s1,s2):
    if(len(s1)==len(s2)):
        print(s1)
        print(s2)
    elif len(s1)>len(s2):
        print(s1)
    else:print(s2)
string1 = input("Enter first string: ")
string2 = input("Enter second string: ")
compareString(string1,string2)

Enter first string: abcd
Enter second string: ad
abcd

### Answer 31

In [50]:
def squareDict(n):
    sqd={}
    for i in range(1,n+1):
        sqd.update({i:i**2})
    return sqd
n = 20
print(squareDict(n))

Enter the range: 20
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

### Answer 32

In [63]:
def squareKey(n):
    sqdKey={}
    for i in range(1,n+1):
        sqdKey.update({i:i**2})
    return list(sqdKey.keys())
n = 20
print("Keys:",squareKey(n))

Keys: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Answer 33

In [64]:
def squareVal(n):
    sqdVal={}
    for i in range(1,n+1):
        sqdVal.update({i:i**2})
    return list(sqdVal.values())
n = 20
print("List of Square values:",squareVal(n))

Square values: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Answer 34

In [65]:
def squareVal(n):
    sqdVal={}
    for i in range(1,n+1):
        sqdVal.update({i:i**2})
    return list(sqdVal.values())
n = 20
values = squareVal(n)
print("First 5 values:",values[:5])

First 5 values: [1, 4, 9, 16, 25]

### Answer 35

In [66]:
def squareVal(n):
    sqdVal={}
    for i in range(1,n+1):
        sqdVal.update({i:i**2})
    return list(sqdVal.values())
n = 20
values = squareVal(n)
print("Last 5 values=",values[-5:])

Last 5 values= [256, 289, 324, 361, 400]

### Answer 36

In [67]:
def squareVal(n):
    sqdVal={}
    for i in range(1,n+1):
        sqdVal.update({i:i**2})
    return list(sqdVal.values())
n = 20
values = squareVal(n)
print("All values except first 5:",values[5:])

All values except first 5: [36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Answer 37

In [68]:
def squareVal(n):
    sqdVal={}
    for i in range(1,n+1):
        sqdVal.update({i:i**2})
    return list(sqdVal.values())
n = 20
print("Tuple of Square values:",tuple(squareVal(n)))

Tuple of Square values: (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

### Answer 38

In [70]:
givenTuple1 = (1,2,3,4,5,6,7,8,9,10)
print(givenTuple1[:5])
print(givenTuple1[5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### Answer 39

In [74]:
givenTuple2 = (1,2,3,4,5,6,7,8,9,10)
evenTuple=[]
for i in givenTuple2:
    if i&1==0:
        evenTuple.append(i)
print("Even Tuple:",tuple(evenTuple))

Even Tuple: (2, 4, 6, 8, 10)

### Answer 40

In [77]:
yes_no = input("Input yes or try any: ")
if yes_no.lower()=="yes":
    print("Yes")
else:print("No")

Input yes or try any: yeS
Yes

### Answer 41

In [81]:
mylist = [1,2,3,4,5,6,7,8,9,10]
mp = map(lambda x: x**2,mylist)
print(list(mp))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Answer 42

In [83]:
mylist = [1,2,3,4,5,6,7,8,9,10]
mp = map(lambda x: x**2, filter(lambda x:x&1==0, mylist))
print(list(mp))

[4, 16, 36, 64, 100]

### Answer 43

In [84]:
mylist=[i for i in range(1,21)]
eve = lambda e: e&1==0
eveList=list(filter(eve,mylist))
print(eveList)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Answer 44

In [88]:
mylist=[i for i in range(1,21)]
sqList=map(lambda x: x**2,mylist)
print(list(sqList))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Answer 53

In [89]:
mail_id = input("Enter the mail address: ").split('@')
print("Name:",mail_id[0])

Enter the mail address: rakesh@ymail.com
Name: rakesh

### Answer 54

In [1]:
mail_id = input("Enter the mail address: ").split('@')
domain = mail_id[1].split('.')
print("Company:",domain[0])

Enter the mail address: me@gmail.com
Company: gmail

### Answer 55

In [3]:
mytext = input("Enter a text consisting some numbers within it").split()
listnum =[]
for i in mytext:
    if not i.isalpha() and i.isdigit():
        listnum.append(i)
print(listnum)

Enter a text consisting some numbers within it2 cats and 3 dogs
['2', '3']

### Answer 56

In [10]:
print(u'Hello, world!')

Hello, world!

### Answer 57

In [8]:
asciiString=input("Enter any string: ")
print(asciiString.encode('utf-8'))

Enter any string: jai shri ram
b'jai shri ram'

### Answer 59

In [1]:
def solveEq(N) :  
    sum = 0;
    for i in range(1, N + 1) :
            sum += i / (i + 1); 

    print(float(sum));
    
n = int(input("Enter the range for the equation: "))
solveEq(n)

Enter the range for the equation: 5
3.5500000000000003

### Answer 60

In [3]:
def solveF(n):
    total=0
    for i in range(n):
        total+=100
    return total
n = int(input("Enter a number f = "))
print(solveF(n))

Enter a number f = 5
500

### Answer 61

In [6]:
def Fib(n):
    if n < 0:
        print("Invalid input")
    elif n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return Fib(n-1) + Fib(n-2)

n = int(input("Enter a number to find nth fibonaaci number: "))
print(Fib(n))

Enter a number to find nth fibonaaci number: 7
13

### Answer 62

In [10]:
def FibList(n):
    fib=[]
    n1=0
    n2=1
    count=0
    if n == 1:
        return 0
    else:
        while count <= n:
            fib.append(n1)
            nth = n1 + n2
            n1 = n2
            n2 = nth
            count += 1
    print(*fib,sep=',')

n = int(input("Enter a number to find nth fibonaaci number: "))
FibList(n)

Enter a number to find nth fibonaaci number: 7
0,1,1,2,3,5,8,13